# DB HOST
HOST=db
# DB NAME
POSTGRES_DB=postgres
# DB USER
USER=odoo
POSTGRES_USER=odoo
# DB PASSWORD
PASSWORD=myodoo
POSTGRES_PASSWORD=myodoo
# DB DIRECTORY
PGDATA=/var/lib/postgresql/data/pgdata
# DREHSCHEIBE
DREHSCHEIBE_URL=https://xx.com
DREHSCHEIBE_USER=something
DREHSCHEIBE_PW=xxxx
